<%= render partial: 'form', locals: { question: @question } %>


<%= link_to  root_path, method: :get, class: :header_img do %>
        <%= image_tag("computer_server.png") %>
        <span class="connect_title_edit">トップに戻る</span>
<% end %>