<div class="search_field">
    <%= link_to  root_path, method: :get, class: :header_img do %>
        <%= image_tag("database1.png") %>
        <span class="connect_title">ConnectDB</span>
    <% end %>
</div>

<%= render partial: 'form', locals: { question: @question } %>